[data-bs-theme=birds] :focus {
  outline-color: rgba(171, 216, 234, 0.5);
}
[data-bs-theme=birds] #root {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #D9D1C9;
  background-image: linear-gradient(#CBD3D3, #D9D1C9);
}
[data-bs-theme=birds] .navbar, [data-bs-theme=birds] footer {
  background-color: #B9A7A1;
  color: #21191D;
}
[data-bs-theme=birds] .navbar a, [data-bs-theme=birds] footer a {
  color: #21191D;
}
[data-bs-theme=birds] .navbar .nav-item:hover, [data-bs-theme=birds] .navbar .navbar-brand:hover,
[data-bs-theme=birds] .navbar .nav-item:focus, [data-bs-theme=birds] .navbar .navbar-brand:focus, [data-bs-theme=birds] footer .nav-item:hover, [data-bs-theme=birds] footer .navbar-brand:hover,
[data-bs-theme=birds] footer .nav-item:focus, [data-bs-theme=birds] footer .navbar-brand:focus {
  background-color: #F0DECD;
}
[data-bs-theme=birds] .navbar .navbar-brand, [data-bs-theme=birds] footer .navbar-brand {
  font-family: "Oregano", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  padding: 0.5rem;
}
[data-bs-theme=birds] .navbar {
  border-bottom: 1px solid #473F3F;
}
[data-bs-theme=birds] footer {
  border-top: 1px solid #473F3F;
}
[data-bs-theme=birds] .bg-accent {
  background-color: #D9D1C9;
  color: #21191D;
  border-bottom: 1px solid #B9A7A1;
}
[data-bs-theme=birds] .card {
  background-color: #B9A7A1;
  color: #21191D;
  border-color: #473F3F;
}
[data-bs-theme=birds] .card .card-img-top {
  border-bottom: 1px solid #473F3F;
}
[data-bs-theme=birds] .card h3 {
  font-family: "Oregano", cursive;
  font-weight: 700;
  font-style: normal;
}
[data-bs-theme=birds] .muted {
  color: #473F3F;
}
[data-bs-theme=birds] .form-control {
  background-color: #F0DECD;
  color: #473F3F;
  border-color: #473F3F;
}
[data-bs-theme=birds] .form-control:focus {
  background-color: #ABD8EA;
  border-color: #283538;
}
[data-bs-theme=birds] .form-control:focus::placeholder {
  color: rgba(40, 53, 56, 0.4);
}
[data-bs-theme=birds] ::placeholder {
  color: rgba(71, 63, 63, 0.4);
}
[data-bs-theme=birds] .btn-primary {
  background-color: #ABD8EA;
  color: #283538;
  border-color: #283538;
}
[data-bs-theme=birds] .btn-primary:focus, [data-bs-theme=birds] .btn-primary:hover {
  background-color: #283538;
  border-color: #283538;
  color: #ABD8EA;
}
[data-bs-theme=birds] .btn-secondary {
  background-color: #473F3F;
  color: #F0DECD;
  border-color: #473F3F;
}
[data-bs-theme=birds] .btn-secondary:focus, [data-bs-theme=birds] .btn-secondary:hover {
  background-color: #283538;
  border-color: #283538;
  color: #ABD8EA;
}
[data-bs-theme=birds] .btn-outline-secondary {
  background-color: #F0DECD;
  border-color: #473F3F;
  color: #473F3F;
}
[data-bs-theme=birds] .btn-outline-secondary:hover, [data-bs-theme=birds] .btn-outline-secondary:focus {
  background-color: #ABD8EA;
  border-color: #283538;
  color: #283538;
}
[data-bs-theme=birds] .dropdown-menu {
  background-color: #F0DECD;
  color: #473F3F;
  border-color: #473F3F;
}
[data-bs-theme=birds] .dropdown-menu .nav-link:hover, [data-bs-theme=birds] .dropdown-menu .nav-link:focus {
  background-color: #ABD8EA;
  border-color: #283538;
  color: #283538;
}